
  <ul class="nav" ui-nav>
    <li class="nav-header hidden-folded">
      <small class="text-muted">Main</small>
    </li>
    
    <li ui-sref-active="active">
      <a ui-sref="app.home">
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;
            <span ui-include="'content/assets/images/i_0.svg'"></span>
          </i>
        </span>
        <span class="nav-text">Home</span>
      </a>
    </li>
    
    <li class="nav-header hidden-folded">
      <small class="text-muted">Trending</small>
    </li>
    
    <li ui-sref-active="active">
      <a ui-sref="app.trend-new">
        <span class="nav-icon">
          <i class="material-icons">&#xe195;
            <span ui-include="'content/assets/images/i_0.svg'"></span>
          </i>
        </span>
        <span class="nav-text">Create a new Trend</span>
      </a>
    </li>
    
    <li ui-sref-active="active">
      <a ui-sref="app.trend-hate">
        <span class="nav-icon">
          <i class="material-icons">&#xe14c;
            <span ui-include="'content/assets/images/i_0.svg'"></span>
          </i>
        </span>
        <span class="nav-text">Hate</span>
      </a>
    </li>
    
    <li ui-sref-active="active">
      <a ui-sref="app.trend-love">
        <span class="nav-icon">
          <i class="material-icons">&#xe87e;
            <span ui-include="'content/assets/images/i_0.svg'"></span>
          </i>
        </span>
        <span class="nav-text">Love</span>
      </a>
    </li>
  </ul>
