  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="box purple">
        <div class="box-header text-center">
        		<div>
          		<img class="w-48" src="content/images/icon/icon-planes-1x.png"/>
          	</div>
          	<div>
		        <img class="profile-img-card" src="content/images/icon/Icon-Blast-3x.png"/>
			</div>
				<div class="label-lg">
					<span >Make & discover trends</span>
				</div>
        </div>
        <div class="box-body">
          <p class="m-b text-center">
          		<button class="btn btn-outline rounded b-info blast-social-btn text-info" ng-click="vm.socialLogin('facebook')">
          			<img class="w-110" src="content/images/icon/btn-facebook.png">
          		</button>
          </p>
          <p class="m-b text-center">
			    <button class="btn btn-outline rounded b-danger blast-social-btn text-danger" ng-disabled="true" ng-click="vm.socialLogin('google')">
          			<img class="w-110" src="content/images/icon/btn-google.png">
          		</button>
          </p>
          <p class="m-b text-center">
			    <button class="btn btn-outline rounded b-success blast-social-btn text-success" ng-disabled="true" ng-click="vm.socialLogin('twitter')">
          			<img class="w-32" src="content/images/icon/btn-twitter.png">
          		</button>
          </p>
          <div class="p-v-lg text-center">
		      <div>By using the service you agree to our</div>
		      <a href='#'>Term of Use</a> and <a href='#'>Privacy Policy</a>
	    	  </div>
        </div>
      </div>
  </div>
