
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFeedItemLabel" data-translate="blastApp.feedItem.home.createOrEditLabel">Create or edit a Feed Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.feedItem.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.feedItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.feedItem.data" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                    ng-model="vm.feedItem.data"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.feedItem.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="vm.feedItem.imageUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.feedItem.share" for="field_share">Share</label>
                <input type="checkbox" name="share" id="field_share"
                          ng-model="vm.feedItem.share"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.feedItem.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.feedItem.status"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.feedItem.keywords" for="field_keywords">Keywords</label>
            <input type="text" class="form-control" name="keywords" id="field_keywords"
                    ng-model="vm.feedItem.keywords"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
