<div>
    <h2 data-translate="blastApp.feedItem.home.title">Feed Items</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="feed-item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="blastApp.feedItem.home.createLabel">
                        Create new Feed Item
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data"><span data-translate="blastApp.feedItem.data">Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUrl"><span data-translate="blastApp.feedItem.imageUrl">Image Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="share"><span data-translate="blastApp.feedItem.share">Share</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="blastApp.feedItem.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="keywords"><span data-translate="blastApp.feedItem.keywords">Keywords</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feedItem in vm.feedItems track by feedItem.id">
                    <td><a ui-sref="feed-item-detail({id:feedItem.id})">{{feedItem.id}}</a></td>
                    <td>{{feedItem.data}}</td>
                    <td>{{feedItem.imageUrl}}</td>
                    <td>{{feedItem.share}}</td>
                    <td>{{feedItem.status}}</td>
                    <td>{{feedItem.keywords}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="feed-item-detail({id:feedItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="feed-item.edit({id:feedItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="feed-item.delete({id:feedItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
