
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFeedItemLabel">{{vm.feedItem.mainKeyword}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
		<div class="row">
			<md-content>
			    <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
			      	<md-tab>
			      		<md-tab-label><span class="glyphicon glyphicon-picture"></span></md-tab-label>
			      		<md-tab-body>
			      			<md-content class="md-padding">
			      				<div>
				      				<div class="row center-block">
				      					<div class="feed-detail-title">
					      					<span class="glyphicon glyphicon-share-alt" ng-show="{{vm.feedItem.share}}">Public</span>
					      					<span class="glyphicon glyphicon-eye-close" ng-show="{{!vm.feedItem.share}}">Private</span>
					      				</div>
				      					<img class="img-feed-detail" ng-src="{{vm.feedItem.imageUrl}}" />
				      				</div>
				      				<div class="row">
				      					<button type="button" ng-disabled="vm.isHate" class="btn btn-danger" ng-click="vm.updateStatus(0)">
								            <span class="glyphicon glyphicon-remove"></span>&nbsp;<span data-translate="entity.action.hate">Hate</span>
								        </button>
				      					<button type="button" ng-disabled="vm.isLike" class="btn btn-info" ng-click="vm.updateStatus(1)">
								            <span class="glyphicon glyphicon-heart"></span>&nbsp;<span data-translate="entity.action.love">Love</span>
								        </button>
				      				</div>
			      				</div>
				        	</md-content>
			      		</md-tab-body>
			      	</md-tab>
			      <md-tab>
			      		<md-tab-label><span class="glyphicon glyphicon-remove"></span></md-tab-label>
			      		<md-tab-body>
			      			<md-content class="md-padding">
				          		<md-list-item ng-repeat="user in vm.lstUserHate" class="noright">
										<img alt="{{ user.displayName }}" ng-src="{{ user.imageUrl }}" class="md-avatar" />
									    <p>{{ user.displayName }}</p>
									    <md-checkbox class="md-secondary" ng-model="user.isFollowing" ng-show="{{vm.account.id != user.id}}"></md-checkbox>
								</md-list-item>
				        	</md-content>
			      		</md-tab-body>
			      </md-tab>
			      <md-tab>
			      		<md-tab-label><span class="glyphicon glyphicon-heart"></span></md-tab-label>
			      		<md-tab-body>
			      			<md-content class="md-padding">
				          		<md-list-item ng-repeat="user in vm.lstUserLike" class="noright">
										<img alt="{{ user.displayName }}" ng-src="{{ user.imageUrl }}" class="md-avatar" />
									    <p>{{ user.displayName }}</p>
									    <md-checkbox class="md-secondary" ng-model="user.isFollowing" ng-show="{{vm.account.id != user.id}}"></md-checkbox>
									</md-list-item>
				        	</md-content>
			      		</md-tab-body>
			      </md-tab>
			    </md-tabs>
			</md-content>
		</div>
    </div>
    <div class="modal-footer">
    </div>
</form>
