<div class="container">
	<div class="well">
		<div ng-cloak>
			<div class="row m-t-30">
				<div class="center-block" style="max-width: 350px">
			        <img id="blast-avatar-img" class="center-block blast-avatar-img" ng-src="{{vm.account.imageUrl}}"/>
			    </div>
		    </div>
			<div class="row">
				<md-content>
				    <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
				      	<md-tab>
				      		<md-tab-label><img class="blast-avatar-img-tab" ng-src="{{vm.account.imageUrl}}"/></md-tab-label>
				      		<md-tab-body>
				      			<md-content class="md-padding">
				      				<md-grid-list
								        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
								        md-row-height-gt-md="1:1" md-row-height="4:3"
								        md-gutter="8px" md-gutter-gt-sm="4px" >
								
									    <md-grid-tile ng-repeat="item in vm.itemUserPost"
									                  md-rowspan="1"
									                  md-colspan="1"
									                  md-colspan-sm="1"
									                  md-colspan-xs="1"
									                  ng-class="deepBlue" >
									        <a ng-click="vm.openDetail(item.id)">
												<img ng-src="{{item.imageThumbUrl}}" id="img-feed-{{item.id}}" />
											</a>
									      	<md-grid-tile-footer><h3>{{item.keywords}}</h3></md-grid-tile-footer>
									    </md-grid-tile>
								  	</md-grid-list>
					        	</md-content>
				      		</md-tab-body>
				      	</md-tab>
				      <md-tab>
				      		<md-tab-label><span class="glyphicon glyphicon-remove"></span></md-tab-label>
				      		<md-tab-body>
				      			<md-content class="md-padding">
					          		<md-grid-list
								        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
								        md-row-height-gt-md="1:1" md-row-height="4:3"
								        md-gutter="8px" md-gutter-gt-sm="4px" >
								
									    <md-grid-tile ng-repeat="item in vm.itemUserHate"
									                  md-rowspan="1"
									                  md-colspan="1"
									                  md-colspan-sm="1"
									                  md-colspan-xs="1"
									                  ng-class="deepBlue" >
											<a ng-click="vm.openDetail(item.id)">
												<img ng-src="{{item.imageThumbUrl}}" />
											</a>
									      	<md-grid-tile-footer><h3>{{item.keywords}}</h3></md-grid-tile-footer>
									    </md-grid-tile>
								  	</md-grid-list>
					        	</md-content>
				      		</md-tab-body>
				      </md-tab>
				      <md-tab>
				      		<md-tab-label><span class="glyphicon glyphicon-heart"></span></md-tab-label>
				      		<md-tab-body>
				      			<md-content class="md-padding">
					          		<md-grid-list
								        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
								        md-row-height-gt-md="1:1" md-row-height="4:3"
								        md-gutter="8px" md-gutter-gt-sm="4px" >
								
									    <md-grid-tile ng-repeat="item in vm.itemUserLike"
									                  md-rowspan="1"
									                  md-colspan="1"
									                  md-colspan-sm="1"
									                  md-colspan-xs="1"
									                  ng-class="deepBlue" >
											<a ng-click="vm.openDetail(item.id)">
												<img ng-src="{{item.imageThumbUrl}}"  />
											</a>
									      	<md-grid-tile-footer><h3>{{item.keywords}}</h3></md-grid-tile-footer>
									    </md-grid-tile>
								  	</md-grid-list>
					        	</md-content>
				      		</md-tab-body>
				      </md-tab>
				      <md-tab label="four">
				      		<md-tab-label><span class="glyphicon glyphicon-user"></span></md-tab-label>
				      		<md-tab-body>
				      			<md-content class="md-padding">
					          		<md-list-item ng-repeat="friend in vm.followingUsers" class="noright">
										<img alt="{{ friend.displayName }}" ng-src="{{ friend.imageUrl }}" class="md-avatar" />
									    <p>{{ friend.displayName }}</p>
									    <md-checkbox class="md-secondary" ng-model="true" ng-disabled="true"></md-checkbox>
									</md-list-item>
					        	</md-content>
				      		</md-tab-body>
				      </md-tab>
				    </md-tabs>
				</md-content>
			</div>
		</div>
    </div>

    </div>
</div>
