<div class="row-col" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col-sm w-lg w-auto-xs light lt bg-auto">
      <div class="p-a-md pos-rlt">
        <div ng-show="uploader.isHTML5" class="m-b-md">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="b-a b-info b-2x b-dashed p-a-md text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                Base drop zone
            </div>
        </div>
        <p class="m-t-md">Single</p>
        <input type="file" ng-file-model="vm.imageData" accept="image/*" />
      </div>
    </div>
    <div class="col-sm">
      <div class="p-a-md pos-rlt">
        <!-- <div class="m-b"><b class="label info pos-rlt m-r-xs"><i class="arrow right b-info pull-in"></i>{{ uploader.queue.length }}</b> file(s)</div> -->
        <!-- <table class="table white b-a">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress progress-sm m-a-0 m-t-xs">
                            <div class="progress-bar info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn white btn-sm" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            Upload
                        </button>
                        <button type="button" class="btn white btn-sm" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            Cancel
                        </button>
                        <button type="button" class="btn white btn-sm" ng-click="item.remove()">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table> -->
        <div>
          <p class="text-muted m-t">Google vision result.</p>
        </div>
        
        <div ng-show="vm.showResultGoogleVison">
        		<div class="row">
        			<div class="col-sm-8">
        				<div class="box">
						<div class="item">
							<div class="item-overlay active p-a">
							</div>
							<img src="{{vm.imageData.data}}">
						</div>
						<div class="p-a">
							<div class="text-muted m-b">
								<label class="md-switch">
					                <input type="checkbox" ng-model="vm.noShare">
					                <i class="pink"></i>
					                Private
					              </label>
							</div>
							<div class="h-3x text-center">
								<button class="btn btn-outline rounded b-danger text-danger" ng-click="vm.storeCloud(0)">Hate</button>
								<button class="btn btn-outline rounded b-info text-info" ng-click="vm.storeCloud(1)">Love</button>
							</div>
						</div>
					</div>
        			</div>
        			<div class="col-sm-4">
        				<div class="box">
			            <div class="box-header">Keywords</div>
			            <div class="box-body">
			              <ul class="list-unstyled">
			                <li class="radio" ng-repeat="item in vm.visionData">
			                  <label class="ui-check">
			                    <input type="radio" name="filter" data-score="{{item.score}}"><i></i> {{item.description}}
			                  </label>
			                </li>
			              </ul>
			              <div class="line line-dashed b-b m-b"></div>
			              	<div class="m-b">
				              	<div class="chip" ng-repeat="keyword in vm.keywords">
								  {{keyword}}
								  <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
								</div>
							</div>
						
			              	<div class="md-form-group">
				              <input class="md-input" name="moreKeyword" ng-model="vm.moreKeyword">
				              <label>Keyword</label>
				            </div>
				            <button class="btn btn-icon white" ng-click="vm.addMoreKeyword()">
				              <i class="fa fa-plus"></i>
				            </button>
			            </div>
			          </div>
        			</div>
        		</div>
        </div>
        
      </div>
    </div>
</div>
