<div class="item">
    <div class="item-bg">
      <img src="content/assets/images/a1.jpg" class="blur opacity-3">
    </div>
    <div class="p-a-md">
      <div class="row m-t">
        <div class="col-sm-3">
        		<div class="center">
        		<div class="row">
        			<div class="col-md-12 text-center">
        				<span class="avatar w-96 text-center">
		              <img src="content/assets/images/a1.jpg">
		            </span>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-md-12 text-center">
        				<div class="p-a">
						<!-- <a href class="btn btn-sm primary btn-rounded" data-toggle="modal" data-target="#m-a-a" ui-toggle-class="zoom" ui-target="#animate">Start a trend</a> -->
						<a href class="btn btn-sm primary btn-rounded" ng-click="vm.startNewTrend()" ui-toggle-class="zoom" ui-target="#animate">Start a trend</a>
					</div>
        			</div>
     		</div>
        		</div>
        </div>
        <div class="col-sm-9">
          	<div class="row">
		      	<div class="col-xs-6 col-sm-6 col-md-3" ng-repeat="n in [1, 2, 3] track by $index">
		    			<div class="box">
						<div class="item">
							<div class="item-overlay active p-a">
								<a class="pull-right text-white _800">$ 4.99</a>
								<a href class="pull-left text-u-c label label-md danger">Food</a>
							</div>
							<img src="content/assets/images/c7.jpg" class="w-full">
						</div>
						<div class="p-a">
								<a href><img src="content/assets/images/a0.jpg" class="w-32 rounded"></a>
								<a href><img src="content/assets/images/a1.jpg" class="w-32 rounded"></a>
								<a class="btn btn-sm danger rounded"><i class="fa fa-plus"></i> 99</a>
						</div>
					</div>
		    		</div>
		  	</div>
        </div>
      </div>
    </div>
  </div>