
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myKeywordUserLabel" data-translate="blastApp.keywordUser.home.createOrEditLabel">Create or edit a Keyword User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.keywordUser.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.keywordUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.keywordUser.keywordId" for="field_keywordId">Keyword Id</label>
            <input type="number" class="form-control" name="keywordId" id="field_keywordId"
                    ng-model="vm.keywordUser.keywordId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.keywordUser.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.keywordUser.userId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blastApp.keywordUser.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" datetime-picker="{{dateformat}}" ng-model="vm.keywordUser.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
